<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string>开启后, 当我投注或关注的比赛开启后, 当我投注或关注的比赛开启后, 当我投注或关注的比赛开启后, 当我投注或关注的比赛开启后, 当我投注或关注的比赛开启后, 当我投注或关注的比赛开启后, 当我投注或关注的比赛</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>推送我关注的比赛</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>key_name</key>
				<string>push_01_key_name</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>只在以下时间内接受推送的比赛</string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>起始时间</string>
				<key>details</key>
				<string>00:00</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleValue1</string>
				<key>is_highlighted</key>
				<true/>
				<key>key_name_time</key>
				<string>push_01_start_time_key_name</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>结束时间</string>
				<key>details</key>
				<string>23:59</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleValue1</string>
				<key>is_highlighted</key>
				<true/>
				<key>key_name_time</key>
				<string>push_01_end_time_key_name</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
