<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>details</key>
				<string>每周二、四、日开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>SSQ_key_name</string>
			</dict>
			<dict>
				<key>title</key>
				<string>大乐透</string>
				<key>details</key>
				<string>每周一、三、六开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>DLT_key_name</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3D</string>
				<key>details</key>
				<string>每天开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>3D_key_name</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>details</key>
				<string>每周二、四、日开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>QXC_key_name</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>details</key>
				<string>每周二、四、日开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>TC_key_name</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>details</key>
				<string>每周二、四、日开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>GGL_key_name</string>
			</dict>
			<dict>
				<key>title</key>
				<string>排列5</string>
				<key>details</key>
				<string>每天开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_style</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_name</key>
				<string>PL5_key_name</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
